<h2 class="page-title">신고 내역</h2>

<div class="container mat-elevation-z1">
  <div class="header">
    <div class="title">{{report?.title}}</div>
    <div class="info">
      <span class="writer me-auto">작성자: {{report?.writer.name}}</span>
      <span class="date">{{report?.createdAt | date: 'yyyy.MM.dd.'}}</span>
    </div>
  </div>

  <div class="body">
    <pre class="pre-wrap">{{report?.content}}</pre>
  </div>

  <div class="replies-container">
    <h5 class="reply-title">답변 내용({{report?.replies.length}})</h5>
    <div class="reply-wrapper" *ngFor="let reply of report?.replies">
      <div class="reply-header">
        <span class="writer">작성자: {{reply.writer.name}}</span>
        <span class="date">작성일: {{reply.createdAt | date: 'yyyy.MM.dd.'}}</span>
      </div>
      <div class="reply-body">
        <pre class="pre-wrap">{{reply.content}}</pre>
      </div>
    </div>
  </div>

  <div class="reply-input-wrapper">
    <label for="reply-content">답변하기</label>
    <textarea id="reply-content" class="no-outline" swAutoHeight="60px" [(ngModel)]="content"></textarea>
    <button type="button" class="btn btn-sm btn-primary py-2 px-3 no-outline" (click)="writeReply()">등록</button>
  </div>

  <div class="flex justify-end mt">
    <a mat-raised-button
       routerLink="/corruption-report/list"
       color="primary"><i class="las la-th-list"></i><span class="ms">목 록</span></a>
  </div>
</div>
