<div class="bg-white px-4 py-6 border border-gray-200 shadow-sm">
  <sw-search-control *ngIf="!emptyDocuments"
                     [formControl]="keywordControl"
                     placeholder="프로젝트 검색(프로젝트 명)"
                     class="block w-full max-w-xl lg:max-w-md mb-8"></sw-search-control>

  <div class="grid gap-4 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div *ngIf="total === 0"
         class="col-span-2 lg:col-span-3 xl:col-span-4 py-10 text-center text-gray-600 bg-white">
      <ng-container *ngIf="emptyDocuments">등록된 프로젝트가 없습니다. 프로젝트를 등록해주세요.</ng-container>
      <ng-container *ngIf="emptySearchResults">검색 결과가 없습니다.</ng-container>
    </div>
    <div *ngFor="let document of documents" class="bg-white border border-gray-300 shadow-md">
      <sw-media-thumbnail-viewer class="block aspect-w-16 aspect-h-9 w-full border-b border-gray-200"
                                 [media]="document.banners[0]"></sw-media-thumbnail-viewer>
      <div class="flex justify-between items-end border-b border-gray-200 p-4">
        <h1 class="text-md font-bold truncate mr-2">{{document.name}}</h1>
        <span class="text-xs text-right text-gray-700 flex-shrink-0">{{document.createdAt | date:'yyyy-MM-dd'}}</span>
      </div>
      <div class="p-4 flex flex-col space-y-2">
        <div class="text-sm text-gray-700">작성자: {{document.creator.name}} | {{document.creator.department}}</div>
        <div class="text-sm text-gray-700">
          팀원: {{getTeamSize(document) === 0 ? '-' : (getTeamSize(document) | number) + '명'}}
        </div>
        <div class="text-sm text-gray-700">
          소스: {{document.meta | NumOfFiles | number}} 파일 / {{document.source | selectedFilesSize:true}}
        </div>
        <div class="text-sm text-gray-700">
          승인 상태 / 날짜:
          <span *ngIf="!document?.approval; else approvalRef" class="text-gray-600">승인 미처리 상태</span>
          <ng-template #approvalRef>
            <span [class.text-blue-600]="document?.approval?.value" [class.text-red-600]="!document?.approval?.value">
              {{document?.approval?.value ? '승인' : '미승인'}}
              / {{document?.approval?.date ? (document.approval.date | date: 'yyyy-MM-dd') : '-'}}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="flex justify-end select-none mt-4 px-4 pb-4">
        <a [routerLink]="['/pm/projects', document._id]"
           class=" shadow-md"
           swButton swButtonColor="blue" swButtonSize="xs">자세히 보기</a>
      </div>
    </div>
  </div>
</div>
