<div class="contents-container mt-4">
  <div class="label">청소년 대상의 SW캠프 및 특강(세미나)</div>
  <div class="content">- 청소년을 위한 SW캠프</div>
  <div class="content">- 각종 경진대회 및 SW관련 페스티벌, 특강 및 세미나 등</div>
  <div class="content">- 초등 SW체험 활동 지원</div>
  <div class="content">- 파이썬(초급)</div>
  <div class="content">- 레고 로봇(EV3), 아두이노, 전도성펜, 손으로 만드는 알고리즘</div>
  <div class="image-grid-container mt-4">
    <figure>
      <img src="assets/images/value/value_1_1.jpg" alt="image">
      <figcaption style="text-align: center">서원고등학교 고교 AI-SW 특강</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_1_2.jpg" alt="image">
      <figcaption style="text-align: center">양청고등학교 고교 AI-SW 특강</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_1_3.jpg" alt="image">
      <figcaption style="text-align: center">충북 초중등연합 SW영재캠프</figcaption>
    </figure>
  </div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">SW 및 ICT 분야 진로를 위한 전문가 QnA</div>
  <div class="content">- SW 또는 ICT 분야 진로를 희망하는 학생들에게 관련 전문지식이나 진로에 대한 궁금증을 온라인에서 Q&A로 풀어가는 프로그램</div>

  <div class="row mt-4">
    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-description mt-0">
          <dl class="row">
            <dt class="col-2">운영시기</dt>
            <dd class="col-10">학기중</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">대상</dt>
            <dd class="col-10">SW 및 ICT 분야에 관심이 많은 충청도 고교 재학생</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">지원학교</dt>
            <dd class="col-10">충북대학교 사범대학 부설고등학교</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육내용</dt>
            <dd class="col-10">SW 및 ICT 관련 진로에 대한 학생들의 궁금증 기반 토크on세미나</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">신청방법</dt>
            <dd class="col-10">해당 학교 담당교사 → 충북대 SW중심대학사업단 담당자 제출</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="image-grid-container mt-4">
    <figure>
      <img src="assets/images/value/value_2_1.jpg" alt="image">
      <figcaption style="text-align: center">고교 SW교육 멘토링</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_2_2.jpg" alt="image">
      <figcaption style="text-align: center">신재생에너지와 인공지능SW</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_2_3.jpg" alt="image">
      <figcaption style="text-align: center">중등 SW진로 체험[드론] 프로그램</figcaption>
    </figure>
  </div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">고교 동아리 활동 지원</div>
  <div class="content">- 고교생 SW동아리 활동 지원</div>
  <div class="content">- 파이썬(중급), 자바, C/C++</div>
  <div class="content">- 레고 로봇(EV3), 아두이노, 라즈베리파이 프로그래밍</div>

  <div class="row mt-4">
    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-description mt-0">
          <dl class="row">
            <dt class="col-2">운영시기</dt>
            <dd class="col-10">1학기/2학기/하계방학/동계방학</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">대상</dt>
            <dd class="col-10">SW 및 ICT 분야에 관심이 많은 충청북도 고교 재학생</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">지원학교</dt>
            <dd class="col-10">충북대학교 사범대학 부설고등학교</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육내용</dt>
            <dd class="col-10">충북대학교 SW동아리 봉사단 + 고교동아리 연계</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">신청방법</dt>
            <dd class="col-10">해당 학교 담당교사 → 충북대 SW중심대학사업단 담당자 제출</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="image-grid-container mt-4">
    <figure>
      <img src="assets/images/value/value_3_1.jpg" alt="image">
      <figcaption style="text-align: center">AI in the Sky 프로그램</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_3_2.jpg" alt="image">
      <figcaption style="text-align: center">대학-고교 연계 드론 동아리</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_3_3.jpg" alt="image">
      <figcaption style="text-align: center">드론 연합동아리 드론(청주여고)</figcaption>
    </figure>
  </div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">일반인 대상 SW교육 및 세미나</div>
  <div class="content">- 스마트폰 활용 및 유튜브 동영상 만들기</div>
  <div class="content">- IoT 창작창의 활동</div>
  <div class="content">- 미래선도산업 ICT 융합산업 교육</div>

  <div class="row mt-4">
    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-description mt-0">
          <dl class="row">
            <dt class="col-2">운영시기</dt>
            <dd class="col-10">매주 금요일(회당 7시간)</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">운영기간</dt>
            <dd class="col-10">매주 금요일(회당 7시간)</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육대상</dt>
            <dd class="col-10">충청북도 중견간부 양성과정</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육인원</dt>
            <dd class="col-10">20명 내외</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육내용</dt>
            <dd class="col-10">
              ICT 융합관련 기술<br>
              ICT 융합관련 정책<br>
              SW기초교육(실습)
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">신청방법</dt>
            <dd class="col-10">공지사항 참조</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-description mt-0">
          <dl class="row">
            <dt class="col-2">운영시기</dt>
            <dd class="col-10">수기</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">운영기간</dt>
            <dd class="col-10">매주 (회당 7시간)</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육대상</dt>
            <dd class="col-10">재직자교육</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육인원</dt>
            <dd class="col-10">10명 내외</dd>
          </dl>
          <dl class="row">
            <dt class="col-2">교육내용</dt>
            <dd class="col-10">
              빅데이터 분석<br>
              Block 코딩 교육<br>
              IoT 기반 파이썬 교육
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">신청방법</dt>
            <dd class="col-10">공지사항 참조</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="image-grid-container mt-4">
    <figure>
      <img src="assets/images/value/value_4_1.png" alt="image">
      <figcaption style="text-align: center">초중고 학교 리더 AI-SW특강</figcaption>
    </figure>
    <figure>
      <img src="assets/images/value/value_4_2.jpg" alt="image">
      <figcaption style="text-align: center">충청북도 중견간부 양성과정</figcaption>
    </figure>
  </div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">AI 시나리오 공모전</div>
  <div class="content">
    - AI(인공지능) 및 미래기술에 대한 관심을 유도하고, AI 시대에 SW교육의 중요성에 관한 인식 제고를 위하여 매년 개최
  </div>
  <div class="content ps-2">&#9702; 충북대학교 학부 재학생 누구나 참여 가능</div>
  <div class="content ps-2">&#9702; 사업단 평가 및 전문가 심사를 통해 수상작 선정 및 시상(시상금 300만원 규모)</div>
  <div class="content">
    - 2023년 수상작
    <div class="ps-4">
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/1_01.pdf"
           class="text-primary text-decoration-underline">대상(경영정보학과 안하은)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/2_01.pdf"
           class="text-primary text-decoration-underline">최우수상(정보통신공학부 문주훈)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/2_02.pdf"
           class="text-primary text-decoration-underline">최우수상(컴퓨터공학과 양혜미)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/3_01.pdf"
           class="text-primary text-decoration-underline">우수상(경영학부 유수진)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/3_02.pdf"
           class="text-primary text-decoration-underline">우수상(수학과 안금미)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/3_03.pdf"
           class="text-primary text-decoration-underline">우수상(컴퓨터공학과 임재혁)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/4_01.pdf"
           class="text-primary text-decoration-underline">장려상(심리학과 유용준)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/4_02.pdf"
           class="text-primary text-decoration-underline">장려상(정보통신공학부 강윤하)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/4_03.pdf"
           class="text-primary text-decoration-underline">장려상(정보통신공학부 김영현)</a>
      </div>
      <div>
        <a href="assets/pdfs/value/prize-winners/2023/4_04.pdf"
           class="text-primary text-decoration-underline">장려상(철학과 오다빈)</a>
      </div>
    </div>
  </div>
  <div class="content">
    - <a href="assets/pdfs/value/prize-winners/2022.pdf"
         class="text-primary text-decoration-underline"
         target="_blank">2022년 수상작</a>
  </div>
  <div class="content">
    - <a href="assets/pdfs/value/prize-winners/2021.pdf"
         class="text-primary text-decoration-underline"
         target="_blank">2021년 수상작</a>
  </div>
</div>
