<button type="button"
        *ngIf="!value && accountOptions.length === 0; else repoRef"
        (click)="getGithubAccounts()"
        class="w-full h-20 flex justify-center items-center bg-blue-500 hover:bg-blue-600 border border-blue-700 text-white select-none">
  GitHub Repository 입력
</button>

<ng-template #repoRef>
  <sw-select-control [options]="accountOptions"
                     placeholder="GitHub 계정 선택"
                     [ngModel]="selectedAccount"
                     class="block w-1/2"
                     (ngModelChange)="changeAccount($event)"></sw-select-control>
  <pre>{{githubRepos | json}}</pre>
</ng-template>
