@import "gmixin";

::ng-deep {
  ckeditor {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 898px;
    background-color: white;
    margin: 0 auto 0.4rem;

    @include mobile {
      width: 100%;
    }

    .ck-toolbar {
      position: absolute;
      top: 0;
    }

    .ck.ck-editor__editable_inline {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .ck-content {
      margin-top: 0.4rem;
      box-sizing: border-box;
      width: 100%;
      background-color: white;
      height: 60vh;
      min-height: 500px;
      overflow-y: auto;

      figure.table, figure.image {
        width: 90%;
        margin: 1rem auto;
      }

      @include mobile {
        figure {
          width: 100%;
        }
        .image-style-align-right, .image-style-align-left {
          float: none;
          max-width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}

.editor-wrapper {
  margin-bottom: 2rem;
}

//sw-file-selector {
//  margin-bottom: 2rem;
//}

.page-title {
  width: 1000px;
  margin: 1rem auto;

  @include mobile {
    width: 100%;
    padding: 0.8rem;
  }
}

form {
  background-color: white;
  box-sizing: border-box;
  width: 1000px;
  padding: 2rem 50px;
  margin: 1rem auto;

  @include mobile {
    width: 100%;
    padding: 0.8rem;
  }
}

mat-form-field, mat-checkbox {
  margin-bottom: 2rem;
}

.inline-controls, .actions {
  display: flex;
  align-items: center;

  &.end {
    justify-content: flex-end;
  }

  > * {
    &:not(.me-auto) {
      margin-right: 0.8rem;
      @include mobile {
        margin-right: 0;
      }
    }

    &:not(.ms-auto) {
      margin-left: 0.8rem;
      @include mobile {
        margin-left: 0;
      }
    }

    @include mobile {
      margin-left: 0;
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.inline-controls {
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.las {
  font-size: 1.2em;
}


form {
  position: relative;

  .remove-btn {
    top: -1rem;
    right: 1rem;
  }
}
