@import "body";

.course-list-title {
  font-size: 1.3125rem;
}

.courses-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @include mobile {
    justify-content: center;
  }
}

.course-cover {
  position: relative;
  $width: 200px;
  width: $width;
  height: $width * 1.25;
  margin: 1rem;
  border-radius: 0.5rem;

  transition: transform 300ms;
  &.link:hover {
    transform: scale(1.02);
  }

  > * {
    position: absolute;
  }

  .course-header {
    top: 1rem;
    left: 1rem;

    .course-type {
      color: rgba(255, 255, 255, 0.7);
    }

    .course-title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .course-footer {
    bottom: 1rem;
    right: 1rem;
  }
}
