<div class="detail-header border-bottom pb-2">
  <div class="title">{{newsletter?.title}}</div>
  <div class="my-2 d-flex justify-content-between align-items-center">
    <span class="writer">{{newsletter?.writer?.name}}</span>
    <div class="d-flex justify-content-between align-items-center">
      <span class="hits">조회수 {{newsletter?.hits | number}}</span>
      <span class="between-divider">/</span>
      <span class="date">작성일 {{newsletter?.createdAt | date: 'yyyy.MM.dd.'}}</span>
    </div>
  </div>
</div>

<div class="mt-4" [swInnerHtml]="newsletter?.content"></div>

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-sm btn-dark py-2 px-3" [routerLink]="NEWSLETTER_URL">
    <i class="las la-list me-2"></i>목록
  </button>
</div>
