<div class="responsive-tabs">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link cursor pointer"
         [class.active]="selectedTab === tab"
         (click)="changeType(tab)">{{tab}}</a>
    </li>
  </ul>
</div>

<ng-container [ngSwitch]="selectedTab">
  <ng-container *ngSwitchCase="tabs[0]">
    <div class="contents-container mt-4">
      <div class="label">지능SW융합학군</div>
      <div class="content">- SW학과, 컴퓨터공학과, 정보통신공학부, 지능로봇공학과가 참여하는 지능SW융합학군 내 공동 교과 및 심화전공 트랙 운영</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">지능SW융합학군 내 공동 교과 운영</div>
      <div class="content">- SW기초교양, SW전공핵심, 산업지능SW융합전공 인증필수 교과를 공동 운영</div>
      <div class="content">- 오픈소스 교육을 위해 오픈소스SW이해와 실습, 오픈소스 기초/개발/전문프로젝트 등 공동 운영</div>
      <div class="content">- 오픈소스 교육을 위해 오픈소스SW이해와 실습, 오픈소스 기초/개발/전문프로젝트 등 공동 운영</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">SW 융합전공 심화전공 트랙</div>
      <div class="content">- 세부 SW융합전공 이수를 위한 6개 심화전공 트랙 운영</div>
      <div class="content">- 참여학과별로 심화 전공 트랙 교육 과정 운영</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">비교과과정 공동 운영</div>
      <div class="content">- 7-Up 교육혁신모델에 의한 교과 운영 지원 공동 운영</div>
      <div class="content">- 교육 품질 향상을 위한 교수/학습 활동 공동 운영</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <img class="img-full" src="assets/images/education/major/intelligence-sw.png"/>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="tabs[1]">
    <div class="contents-container mt-4">
      <div class="label">7-Up 교육 혁신 모델</div>
      <div class="content">- 충북대학교 SW중심대학사업단이 4차산업혁명 시대의 지능SW융합 교육을 실현하고자 개발한 7-Up SW교육혁신모델에 의한 교과 운영 지원</div>
      <div class="content">- 재학생들을 전공 이론은 물론 실전적 프로젝트 수행 능력을 갖춘 전문 인력으로 양성하기 위한 교육 모델</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <img class="img-full" src="assets/images/education/major/7up.png"/>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">Catch-Up&reg; 프로그램</div>
      <div class="content">- 전공기초가 부족한 학생, 성적 저조자, 복학생, 편입생 등을 위한 학습지원 프로그램</div>
      <div class="content">- 매 학기초 야간에 진행되는 특별 강의</div>
      <div class="content">- 전공 기초 교과목을 대상으로 실습 위주의 몰입 교육</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">Keep-Up&reg; 프로그램(학부생 튜터 제도)</div>
      <div class="content">- 자기 주도적인 학습 참여를 위해 전공교과목 스터디 그룹을 지원하는 프로그램</div>
      <div class="content">- 선배 튜터와 후배 튜티 5명 이상이 스터디 그룹을 구성하여, 주1회 이상 정기적인 학습을 진행</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">Solve-Up&reg; 프로그램(프로그래밍 능력 향상)</div>
      <div class="content">- SW융합 핵심역량인 알고리즘 프로그래밍 능력 함양을 위한 지원 프로그램</div>
      <div class="content">- 전교생 대상 프로그래밍 경진대회 연1회 실시</div>
      <div class="content">- ACM-ICPC 출전 지원</div>
      <div class="content">- 사업 참여 단위별 SW개발역량강화 지원 프로그램 운영</div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="tabs[2]">
    <div class="contents-container mt-4">
      <div class="label">지능SW융합학군 내 교육의 질을 향상시키기 위한 지속적인 CQI 및 개선 활동 운영</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">사전 수강 지도</div>
      <div class="content">- 선이수체계를 통한 체계적인 교육을 위하여 수강신청 전에 지도교수 면담 실시</div>
      <div class="content">- 취득학점, 졸업학점, 공학인증 학점 등의 점검</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">교수법/학습법 활동</div>
      <div class="content">- 교수법 콜로키움: 사업참여조직 전체 교수 대상 교수법 콜로키움 연 10회 개최</div>
      <div class="content">- 교과목 리뷰: 전공교과 심층 분석 및 교과 운영 권장 방안 도출을 위한 세미나 실시</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">교육 도구 개발</div>
      <div class="content">- 온라인 강좌 및 교재를 개발하여 KOCW, Mooc 등의 플랫폼에 공개</div>
      <div class="content">- 교과 및 비교과 과정으로 운영되는 학습 프로그램에서 적극 활용</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">프로젝트 교과 품질 관리</div>
      <div class="content">- 실습교과 비율의 확대</div>
      <div class="content">- 실습 및 프로젝트 교과 운영 방법 개선</div>
      <div class="content">- 실습 내용 보강 및 개선: 오픈소스SW 환경으로 실습환경 전환 및 관련 교육 실시</div>
      <div class="content">- 개인코딩 이력 관리 지도: 프로젝트 교과목, 교과과정 및 개인 학습을 통하여 산출된 코딩 결과물을 관리하여 개인 코딩 이력 생성</div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="tabs[3]">
    <div class="contents-container mt-4">
      <div class="label">교과목을 통한 실전적 영어 교육</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <img class="source-size" src="assets/images/education/major/english.png"/>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">소프트웨어실전영어 과목의 개설 및 수강 의무화</div>
      <div class="content">- 글로벌 협업능력 강화를 위한 소프트웨어실전영어 교과목 신설</div>
      <div class="content">- SW 기술자가 알아야 할 전공영어, 기술문서 작성 및 기술 프리젠테이션 기법 등 강의</div>
      <div class="content">- 학생들의 수준을 고려하여 단계적으로 진행</div>
      <div class="content">- 2019년 일부 시범으로 실시하고 전체 교과에 반영되도록 확대</div>
      <div class="content">- 전문가특강 지원</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">전공교과목에서 영어활용을 통한 전공영어 습득</div>
      <div class="content">- SW전공 영어활용 강좌 확대 개설</div>
      <div class="content">- 실전적 영어능력 배양을 위해 전공교과목의 40% 수준으로 영어강좌를 확대함</div>
    </div>

    <div class="contents-container pt-4 mt-4">
      <div class="label">교과목 영어활용 프로젝트 발표회 개최 지원</div>
      <div class="content">- 전공 교과목에서 프로젝트 제안 및 결과 발표 시에 영어로 발표하는 경우 일부 비용 지원</div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="tabs[4]">
    <div class="contents-container mt-4">
      <div class="label">대학-대학원간 협력</div>
      <div class="content">- 학부생이 한 학기동안 대학원 연구실에 소속하는 실험실 프로젝트 운영</div>
      <div class="content">- 학부-석사 연계전공 과정(5년)을 신설하고, 6개 전공 심화트랙 운영</div>
      <div class="content">- 학부생-대학원생이 함께 연구개발에 참여하는 학부-대학원 R&D 프로젝트 운영</div>
      <div class="content">- 기업 문제를 학부생-대학원생-기업이 함께 해결하는 산학공동 프로젝트에 참여하여 현장문제 해결형 교육 및 연구 수행 기회 제공</div>
      <div class="content">- 연구실인턴제 시행: 대학원 연구분위기 경험 및 학부-석사 연계전공 참여확대</div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="tabs[5]">
    <div class="contents-container mt-4">
      <div class="label">TOPCIT 시험 응시 지원</div>
      <div class="content">- 소프트웨어직군의 필수 직무역량을 평가하는 TOPCIT 시험 응시 지원</div>
      <div class="content">- 참가 대상: SW중심대학사업단 참여 학과(부) 재학생 3, 4학년</div>
      <div class="content">- 사이트 가기: <a class="text-primary" href="http://www.topcit.or.kr">http://www.topcit.or.kr</a></div>
      <div class="content">- 참가자 특전</div>
      <div class="content">&nbsp;&nbsp;・응시료 전액 지원 및 사업단 우수마일리지 지원</div>
      <div class="content">&nbsp;&nbsp;・특별장학금 지급 및 참여 프로그램 선발 시 TOPCIT 응시여부 반영</div>
      <div class="content">- 시험 일정: 1년에 2번 실시(1학기, 2학기)</div>
    </div>
  </ng-container>
</ng-container>
