@import "gmixin";
@import "body";

.figure-container {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  figure {
    margin: 0 0.5rem;
    flex: 1 1 0;

    @include mobile {
      margin: 0 auto 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 400px;
    max-height: 300px;
  }

  @include mobile {
    img {
      width: 50vw;
      height: auto;
      margin: 0 auto;
    }
  }

  figcaption {
    text-align: center;
  }
}
