@import "gmixin";
@import "body";

.figure-container {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  figure {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    margin: 0 0.5rem;
    flex: 1 1 0;
    text-align: center;

    @include mobile {
      margin: 0 auto 1rem;
      width: 100%;
      min-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 400px;
    max-height: 300px;
  }

  img[src$=gif] {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  @include mobile {
    img {
      width: 50vw;
      height: auto;
      margin: 0 auto;
    }
  }

  //figcaption {
  //  text-align: center;
  //}
}
