<div class="bg-black bg-opacity-10 flex gap-4 items-center px-4 md:px-6 py-2 md:py-4 w-full h-full">
  <div class="flex items-center justify-center bg-white rounded-full shadow-lg h-[80px] md:h-[100px] aspect-square">
    <sw-jewel-icon svgClass="h-12 w-12 md:h-14 md:w-14" [pathClass]="pathClass"></sw-jewel-icon>
  </div>
  <div class="flex-grow flex flex-col justify-between gap-4 text-white py-3">
    <div class="flex justify-between items-start">
      <h3 class="font-bold text-xl md:text-2xl drop-shadow-lg">{{grade}} Lv.{{level}}</h3>
      <button type="button"
              (click)="togglePopup($event)"
              (blur)="blurPopup($event)"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
        </svg>
      </button>
    </div>
    <div class="flex gap-2 items-center text-sm" [class.opacity-0]="moreThanProjects === 0">
      <div class="p-0.5 rounded-full bg-white">
        <sw-check-icon svgClass="h-4 w-4 md:h-5 md:w-5 {{checkColor}}" strokeWidth="2.0"></sw-check-icon>
      </div>
      <span class="font-bold text-xs md:text-sm">{{moreThanCodeLines | number}} 라인 이상의 프로젝트({{currentProjects}}/{{moreThanProjects}})</span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="bg-white h-2 rounded-full w-full p-px">
        <div class="duration-300 w-full h-full rounded-full {{progressColorClass}}"
             [style.width]="progressWidth"></div>
      </div>
      <span class="text-xs self-end">{{currentCodes | number}}/{{requiredCodes | number}}</span>
    </div>
  </div>
</div>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isOpenPopup">
  <div class="flex flex-col gap-4 bg-white border shadow-xl px-6 py-4">
    <h2 class="text-lg font-bold border-b pb-2">코딩 성취도 레벨</h2>
    <ul class="flex flex-col gap-4">
      <li class="flex flex-col gap-2">
        <h4 class="font-semibold">Bronze 등급(1 ~ 10레벨)</h4>
        <p class="text-sm -indent-2">- 등록된 프로젝트들의 코드 라인수 합계가 50라인이 될 때마다 1레벨씩 증가</p>
      </li>
      <li class="flex flex-col gap-2">
        <h4 class="font-semibold">Silver 등급(1 ~ 10레벨)</h4>
        <p class="text-sm -indent-2">- 등록된 프로젝트들의 코드 라인수 합계가 100라인이 될 때마다 1레벨씩 증가</p>
      </li>
      <li class="flex flex-col gap-2">
        <h4 class="font-semibold">Gold 등급(1 ~ 10레벨)</h4>
        <p class="text-sm -indent-2">- 등록된 프로젝트들의 코드 라인수 합계가 200라인이 될 때마다 1레벨씩 증가</p>
      </li>
      <li class="flex flex-col gap-2">
        <h4 class="font-semibold">Platinum 등급(1 ~ 10레벨)</h4>
        <p class="text-sm -indent-2">- Gold에서 Platinum으로 진입하려면 전체 프로젝트 중 코드가 500라인 이상의 프로젝트가 하나 이상 등록되어야 함</p>
        <p class="text-sm -indent-2">- 등록된 프로젝트들의 코드 라인수 합계가 500라인이 될 때마다 1레벨씩 증가</p>
      </li>
      <li class="flex flex-col gap-2">
        <h4 class="font-semibold">Diamond 등급(1 ~ 10레벨)</h4>
        <p class="text-sm -indent-2">- Platinum에서 Diamond로 진입하려면 전체 프로젝트 중 코드가 1,000라인 이상의 프로젝트가 2개 이상 등록되어야 함</p>
        <p class="text-sm -indent-2">- 등록된 프로젝트들의 코드 라인수 합계가 700라인이 될 때마다 1레벨씩 증가</p>
      </li>
    </ul>
  </div>
</ng-template>
