<div class="contents-container mt-4">
  <div class="label">목표</div>
  <div class="content">- SW중심대학사업단 참여 학생들의 자신의 역량을 사회에 기여하는 기회 제공</div>
  <div class="content">- 캠프 활동 지원, 홍보 및 알림 지원 및 청소년 진로체험 봉사 활동을 통해 SW 가치 확산 기회 제공</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">참여 대상자</div>
  <div class="content">- SW중심대학사업단 참여 대학생이면 누구나 (인원 : 40명/년)</div>
  <div class="content">- 매년 연말 선발 / 1년 단위로 활동</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">지원방법</div>
  <div class="content">- 공지사항 → 접수</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="row">
    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-header">캠프 봉사</div>
        <div class="edu-card-description">
          <dl class="row">
            <dt class="col-2">활동내용</dt>
            <dd class="col-10">
              청소년을 위한 SW캠프<br>
              각종 경진대회 및 SW 관련 페스티벌 등<br>
              특강 및 세미나
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">참고</dt>
            <dd class="col-10">연 1팀 지원<br><br><br></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-header">홍보 지원</div>
        <div class="edu-card-description">
          <dl class="row">
            <dt class="col-2">활동내용</dt>
            <dd class="col-10">
              프로그램 알림 : SNS 커뮤니티, 게시판 홍보 등<br>
              인물 인터뷰 : 화제의 인물 인터뷰 기사 작성<br>
              사업단 관련 소식 카드뉴스 제작 배포
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">참고</dt>
            <dd class="col-10">
              알림 : 연 3회<br>
              인물 인터뷰 : 연 1회<br>
              카드뉴스 : 연 2회
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-header">청소년 돌봄</div>
        <div class="edu-card-description">
          <dl class="row">
            <dt class="col-2">활동내용</dt>
            <dd class="col-10">
              방과 후 돌봄<br>
              중학교 자유학기 체험 활동<br>
              고교생 SW 동아리 활동 지원
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">참고</dt>
            <dd class="col-10">연 1팀 지원</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4">
      <div class="edu-card">
        <div class="edu-card-header">SW 가치확산 활동</div>
        <div class="edu-card-description">
          <dl class="row">
            <dt class="col-2">활동내용</dt>
            <dd class="col-10">
              유학생 및 복학생 학습 동행<br>
              기초 및 인문계열 비전공자 멘토링<br>
              기타 SW 가치확산 활동
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-2">참고</dt>
            <dd class="col-10">연 1건</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
