<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col flex-grow relative">
  <div class="mt-5 flex-grow flex flex-col">
    <nav class="flex-1 space-y-1" aria-label="Sidebar">
      <sw-expandable-menu-item *ngFor="let menu of menus; let i = index;"
                                [menuItem]="menu"
                                [hiddenSubMenus]="hiddenMenus[i]"
                                (hiddenSubMenusChange)="collapseOthers(i)"></sw-expandable-menu-item>
    </nav>
  </div>
</div>
