.facility-img {
  height: 250px;

  .info-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    color: white;

    .name {
      font-size: 0.9rem;
    }

    .location {
      font-size: 0.7rem;
    }
  }
}
