<div class="contents-container mt-4">
  <div class="label">산학협력을 위한 기업(관) 운영</div>
</div>
<div class="contents-container mt-4">
  <div class="label">가족회사 네트워크 구축</div>
</div>
<div class="contents-container mt-4">
  <div class="label">산학협력 체계 확립(산학프로젝트, 현장실습 등)</div>
</div>
<div class="grid-container mt-4">
  <div style="border: 1px solid #eee">
    <h2 class="text-center m-0 p-4 mx-2" style="background-color: #eee; border-radius: 0 0 2rem 2rem;">
      가족회사 운영
    </h2>
    <div class="mt-2 p-4">
      <p class="m-0">- 산학협력을 위한 기업(관) 가족회사 영입</p>
      <p class="m-0">- 가족회사 네트워크 구축</p>
      <p class="m-0">- (현장실습 등) 산학협력 체계 구축</p>
    </div>
  </div>
</div>
