<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <h6 class="subjects">{{subjects}}</h6>
  <h1 class="title">{{contentService.selected ? contentService.selected.title + ' 수정' : '새로운 콘텐츠 등록'}}</h1>

  <mat-form-field class="w-100">
    <mat-label>제목</mat-label>
    <input matInput
           formControlName="title"
           [errorStateMatcher]="errorMatcher"
           autocomplete="off"
           placeholder="제목 입력"
           required/>
    <mat-hint>제목을 입력해주세요.</mat-hint>
    <mat-error *ngIf="hasError('required', 'title')">제목은 필수 입력 항목입니다.</mat-error>
  </mat-form-field>

  <div class="editor-wrapper">
    <label>문제</label>
    <ckeditor *ngIf="editor"
              formControlName="problem"
              [editor]="editor"
              [config]="problemConfig"
              (ready)="onReady($event)"></ckeditor>
    <div class="error" *ngIf="hasError('required', 'problem')">문제 내용은 필수 입력 항목입니다.</div>
  </div>

  <div class="editor-wrapper">
    <label>정답</label>
    <ckeditor *ngIf="editor"
              formControlName="solution"
              [editor]="editor"
              [config]="solutionConfig"
              (ready)="onReady($event)"></ckeditor>
    <div class="error" *ngIf="hasError('required', 'solution')">정답 내용은 필수 입력 항목입니다.</div>
  </div>

  <div class="toolbar">
    <button type="button" (click)="closeForm.emit()">취소</button>
    <button>{{contentService.selected ? '수정' : '등록'}}</button>
  </div>
</form>
