<div class="bg-gray-50 p-2 mb-4 space-y-4" *ngIf="value.length > 0">
  <div *ngFor="let oss of value; let i = index;"
       class="flex flex-col bg-white border border-gray-200 p-2 space-y-4 relative">
    <button type="button"
            (click)="remove(i)"
            class="absolute top-0 right-0 p-2 bg-opacity-30 bg-white z-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <div class="flex flex-col">
      <label class="mb-2">사용 OSS</label>
      <input type="text"
             [ngModel]="oss.name"
             (ngModelChange)="changeName(oss, $event)"
             class="w-full"
             swInput placeholder="사용한 OSS 이름 입력(예: React)">
    </div>
    <div class="flex flex-col">
      <label class="mb-2">OSS 링크</label>
      <input type="url"
             [ngModel]="oss.link"
             (ngModelChange)="changeLink(oss, $event)"
             class="w-full"
             swInput
             placeholder="OSS 참조 링크 입력(홈페이지, Github 주소 등)">
    </div>
    <div class="flex flex-col">
      <label class="mb-2">라이선스</label>
      <input type="url"
             [ngModel]="oss.license"
             (ngModelChange)="changeLicense(oss, $event)"
             class="w-full"
             swInput
             placeholder="OSS 라이선스 입력(예: MIT)">
    </div>
    <div class="flex flex-col">
      <label class="mb-2">OSS 활용 설명</label>
      <textarea swAutoHeight
                [ngModel]="oss.description"
                (ngModelChange)="changeDescription(oss, $event)"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300"
                placeholder="설명글 작성"></textarea>
    </div>
  </div>
</div>
<button type="button"
        (click)="addOss()"
        class="w-full h-20 flex justify-center items-center bg-blue-500 hover:bg-blue-600 border border-blue-700 text-white select-none">
  사용 OSS 추가
</button>
