<div #filterHeader class="flex justify-between items-center px-4 py-2 w-full">
  <div class="flex gap-4 items-center">
    <button type="button" (click)="collapsed = !collapsed">
      <svg *ngIf="collapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
      </svg>
      <svg *ngIf="!collapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"/>
      </svg>
    </button>
    <span [class.opacity-0]="!collapsed"
          class="text-gray-500 text-xs hidden lg:block duration-300">
      원하시는 결과가 없는 경우 + 버튼을 눌러 검색 설정을 다시 해보세요.
    </span>
  </div>
  <div class="flex gap-2 items-center">
    <sw-button type="button" [color]="2" (click)="initQuery()">초기화</sw-button>
    <sw-button type="button" (click)="search()">검색</sw-button>
  </div>
</div>
<div #filterBody class="flex flex-col gap-8 px-6 divide-y">
  <div class="flex flex-col gap-4">
    <label class="text-lg font-bold">년도로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="yearOptions"
                 [(ngModel)]="year"
                 class="flex-shrink-0 basis-[200px]"></sw-select>
    </div>
  </div>
  <div class="flex flex-col gap-4 pt-6">
    <label class="text-lg font-bold">회차로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="noOptions"
                 [(ngModel)]="no"
                 class="flex-shrink-0 basis-[200px]"></sw-select>
    </div>
  </div>
  <div class="flex flex-col gap-4 pt-6">
    <label class="text-lg font-bold">수준으로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="levelOptions"
                 [(ngModel)]="level"
                 class="flex-shrink-0 basis-[200px]"></sw-select>
    </div>
  </div>
  <div class="flex flex-col gap-4 pt-6">
    <label class="text-lg font-bold">학과(부)로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="departmentOptions"
                 [(ngModel)]="department"
                 class="flex-shrink-0 basis-[350px]"></sw-select>
    </div>
  </div>
  <div class="flex flex-col gap-4 pt-6">
    <label class="text-lg font-bold">학년으로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="gradeOptions"
                 [(ngModel)]="grade"
                 class="flex-shrink-0 basis-[200px]"></sw-select>
    </div>
  </div>
  <div class="flex flex-col gap-4 py-6">
    <label class="text-lg font-bold">학생 정보로 검색</label>
    <div class="flex gap-2 items-center">
      <sw-select [options]="studentOptions"
                 [ngModel]="studentOption"
                 (ngModelChange)="changeStudentOption($event)"
                 class="flex-shrink-0 basis-[100px]"></sw-select>
      <sw-input *ngIf="studentOption === '학번'"
                [(ngModel)]="studentNo"
                type="text"
                placeholder="예) 2023001001(학번 11자리)"
                class="flex-shrink-0 basis-[260px]"></sw-input>
      <sw-input *ngIf="studentOption === '이름'"
                [(ngModel)]="studentName"
                type="text"
                placeholder="예) 홍길동"
                class="flex-shrink-0 basis-[260px]"></sw-input>
    </div>
  </div>
</div>
