<div class="flex flex-col gap-4 p-4 bg-white border border-gray-300">
  <h2 class="text-xl font-bold">수행 프로젝트</h2>
  <div class="flex flex-col gap-2 px-4 py-2">
    <h3 class="text-lg font-bold">전체 통계</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <sw-project-count-card title="프로젝트" [value]="studentTotal?.projects"
                             [average]="total?.projects / total?.students"></sw-project-count-card>
      <sw-project-count-card title="파일" [value]="studentTotal?.files"
                             [average]="total?.files / total?.students"></sw-project-count-card>
      <sw-project-count-card title="코드라인" [value]="studentTotal?.codes"
                             [average]="total?.codes / total?.students"></sw-project-count-card>
      <sw-project-count-card title="주석" [value]="studentTotal?.comments"
                             [average]="total?.comments / total?.students"></sw-project-count-card>
    </div>
  </div>
  <div class="flex flex-col gap-2 px-4 py-2">
    <h3 class="text-lg font-bold">년도별 통계</h3>
    <ng-container *ngIf="(studentProjects && averages); else noProjectsRef">
      <sw-tab [options]="yearOptions" [selected]="yearOption" (optionChange)="changeYearOption($event)"></sw-tab>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <sw-projects-chart title="프로젝트 수"
                           [student]="student"
                           [data]="studentProjects.grades.projects"
                           [averages]="averages.grades.projects"></sw-projects-chart>
        <sw-projects-chart title="파일 수"
                           [student]="student"
                           [data]="studentProjects.grades.files"
                           [averages]="averages.grades.files"></sw-projects-chart>
        <sw-projects-chart title="코드라인 수"
                           [student]="student"
                           [data]="studentProjects.grades.codes"
                           [averages]="averages.grades.codes"></sw-projects-chart>
        <sw-projects-chart title="주석 수"
                           [student]="student"
                           [data]="studentProjects.grades.comments"
                           [averages]="averages.grades.comments"></sw-projects-chart>
      </div>
    </ng-container>
    <ng-template #noProjectsRef>
      <div class="py-2 text-gray-500">등록된 프로젝트가 없습니다.</div>
    </ng-template>
  </div>
</div>
