<div mat-dialog-content>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="로컬">
      <sw-local-project-form></sw-local-project-form>
    </mat-tab>
    <mat-tab label="GitHub">
      <sw-github-authorization></sw-github-authorization>
      <sw-github-project-form></sw-github-project-form>
    </mat-tab>
  </mat-tab-group>
<!--  <div class="project-wrapper">-->
<!--    <div class="loading" *ngIf="loading">-->
<!--      <mat-spinner></mat-spinner>-->
<!--      <span *ngIf="progress">{{(progress / selectedProjects.length) | percent}}</span>-->
<!--    </div>-->
<!--    <div class="project cursor pointer"-->
<!--         [class.selected]="isSelected(project)"-->
<!--         (click)="toggleSelect(project)"-->
<!--         *ngFor="let project of projects">-->
<!--      <span class="repository">저장소: {{project?.repository}}</span>-->
<!--      <span>프로젝트명: {{project?.name}}</span>-->
<!--    </div>-->
<!--  </div>-->
</div>
<div mat-dialog-actions>
  <button type="button" mat-flat-button (click)="close()">취소</button>
  <button type="button" mat-flat-button color="primary" (click)="addProjects()">추가</button>
</div>
