.project-wrapper {
  position: relative;
  height: 60vh;
  min-height: 400px;
  overflow-y: auto;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  user-select: none;

  &.selected {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

[mat-dialog-actions] {
  display: flex;
  justify-content: flex-end;
}
