<sw-filter-container>
  <ng-container tools>
    <sw-button type="button" [color]="2" (click)="initQuery()">초기화</sw-button>
    <sw-button type="button" (click)="search()">검색</sw-button>
  </ng-container>
  <ng-container body>
    <sw-performed-filter [ngModel]="performedPeriodFilter"
                         (ngModelChange)="changePerformedPeriodFilter($event)"></sw-performed-filter>
    <sw-select-filter label="합격 여부"
                      [options]="passOptions"
                      [(ngModel)]="query.pass"></sw-select-filter>
    <sw-select-filter label="수준"
                      [options]="levelOptions"
                      [(ngModel)]="query.level"></sw-select-filter>
    <sw-departments-filter [(ngModel)]="query.departments"></sw-departments-filter>
    <sw-member-filter [ngModel]="studentFilter"
                      (ngModelChange)="changeStudentFilter($event)"></sw-member-filter>
  </ng-container>
</sw-filter-container>
