<h2 class="page-title">학생 정보</h2>

<div class="container mat-elevation-z1">
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="responsive-row w-100 v-start h-start mb">
    <div class="user-image mat-elevation-z1"
         [class.me]="layout.desktop$ | async"
         [class.mb]="layout.mobile$ | async"
         [class.m-auto]="layout.mobile$ | async"
         swBackgroundSize="cover"
         swBackgroundPosition="center"
         [swBackgroundImage]="student?.image || 'assets/images/empty-user-image.jpg'"></div>
    <div class="pad w-100">
      <div class="item">
        <span class="label">학번</span>
        <span class="content">{{student?.no}}</span>
      </div>
      <div class="item">
        <span class="label">이름</span>
        <span class="content">{{student?.name}}</span>
      </div>
      <div class="item">
        <span class="label">대학</span>
        <span class="content">{{student?.university}}</span>
      </div>
      <div class="item">
        <span class="label">학과(부)</span>
        <span class="content">{{student?.department}}</span>
      </div>
      <div class="item">
        <span class="label">이메일</span>
        <span class="content"><a href="mailto:{{student?.email}}">{{student?.email}}</a></span>
      </div>
      <div class="item">
        <span class="label">연락처</span>
        <span class="content"><a href="tel:{{student?.phone}}">{{student?.phone}}</a></span>
      </div>
      <div class="item mb">
        <span class="label">가입일</span>
        <span class="content">{{student?.joinedAt | date: 'yyyy.MM.dd.'}}</span>
      </div>
      <div class="item mb" *ngIf="student?.user">
        <span class="label">권한부여</span>
        <div class="form-check content">
          <input class="form-check-input"
                 type="checkbox"
                 id="e-help-check"
                 [checked]="eHelpPermission"
                 (click)="toggleEHelpPermission()">
          <label class="form-check-label" for="e-help-check">
            E-Help 데스크
          </label>
        </div>
      </div>
      <div class="item">
        <button type="button"
                mat-raised-button color="warn"
                (click)="remove()"
                *ngIf="student?.user; else deletedUserTemplate">계정삭제
        </button>
        <ng-template #deletedUserTemplate>
          <button type="button"
                  mat-raised-button
                  (click)="restore()">계정복구
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <a mat-raised-button color="primary" routerLink="/student/list">
      <i class="las la-th-list"></i><span class="ms">목 록</span>
    </a>
  </div>
</div>
