<button type="button"
        *ngIf="!value; else subjectRef"
        (click)="addSubject()"
        class="w-full h-20 flex justify-center items-center bg-blue-500 hover:bg-blue-600 border border-blue-700 text-white select-none">
  교과목 입력
</button>

<ng-template #subjectRef>
  <div class="flex justify-end items-center">
    <button type="button"
            (click)="removeSubject()"
            class="p-2 bg-opacity-30 bg-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
  <div class="space-y-4">
    <div class="flex flex-col space-y-2">
      <label>교과목명</label>
      <input swInput [ngModel]="value.name" (ngModelChange)="changeName($event)" placeholder="교과목명 입력">
    </div>
    <div class="flex flex-col space-y-2">
      <label>과목코드</label>
      <input swInput [ngModel]="value.code" (ngModelChange)="changeCode($event)"
             placeholder="과목코드 입력(예: 1234567-01)">
    </div>
    <div class="flex flex-col space-y-2">
      <label>담당교수</label>
      <input swInput [ngModel]="value.professor" (ngModelChange)="changeProfessor($event)"
             placeholder="담당교수명 입력">
    </div>
    <div class="flex flex-col space-y-2">
      <label>이수년도</label>
      <input type="number"
             swInput [ngModel]="value.year" (ngModelChange)="changeYear($event)"
             placeholder="해당 교과목의 이수년도 입력">
    </div>
    <div class="flex flex-col space-y-2">
      <label>이수학기</label>
      <sw-select-control [ngModel]="value.semester" (ngModelChange)="changeSemester($event)"
                         [options]="semesterOptions"></sw-select-control>
    </div>
  </div>
</ng-template>
