@use '@angular/material' as mat;
@import "~bootstrap/scss/functions";


@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


@include mat.core();


$main-primary: mat.define-palette(mat.$teal-palette);
$main-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);
$main-warn: mat.define-palette(mat.$red-palette);

$main-theme: mat.define-light-theme(
    (
      color: (
        primary: $main-primary,
        accent: $main-accent,
        warn: $main-warn,
      ),
    )
);

@import "gmixin";

$desktop-width: 1200px;
$mobile-width: 100%;
$mobile-header-height: 60px;
$default-color: #333;
$sw-color: #377dff;

