<div class="py-3 px-4 d-none d-lg-block bg-light">
  <div class="row align-items-sm-center text-center text-dark">
    <span class="table-header col-sm-1">번호</span>
    <span class="table-header col-sm-7">제목</span>
    <span class="table-header col-sm-2">작성자</span>
    <span class="table-header col-sm-1">조회수</span>
    <span class="table-header col-sm-1">작성일</span>
  </div>
</div>

<div *ngIf="total === 0">
  <div class="text-center text-dark py-2">
    {{emptyDocuments ? '등록된 게시글이 없습니다.' : '검색된 게시글이 없습니다.'}}
  </div>
</div>

<div class="card card-frame py-3 px-3 px-sm-4"
     *ngFor="let doc of documents; let i = index;"
     [routerLink]="[PRESS_URL, doc._id]">
  <div class="notice-wrapper row align-items-sm-center">
    <span class="table-body col-lg-1 text-sm-center d-none d-lg-block">
      {{getNo(i)}}
    </span>
    <span class="table-body col-lg-7 align-items-center title-container">
      <span class="mb-0">{{doc.title}}</span>
    </span>
    <span class="table-body col-8 col-lg-2 text-left text-lg-center">
      <small>{{doc?.writer?.name}}</small>
    </span>
    <span class="table-body col-lg-1 text-left text-lg-center d-none d-lg-block">
      <small>{{doc?.hits | number}}</small>
    </span>
    <span class="table-body col-4 col-lg-1 text-right text-lg-center">
      <small>{{doc?.createdAt | date: 'yy.MM.dd.'}}</small>
    </span>
  </div>
</div>

<div class="my-3">
  <div class="input-group">
    <input type="search"
           class="form-control no-outline border-end-0"
           [formControl]="keywordControl"
           placeholder="제목, 작성자로 검색"
           aria-describedby="searchApp">
    <span class="input-group-text border-start-0"><i class="las la-search"></i></span>
  </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="total > limit">
  <sw-pagination [total]="total" [params]="params"></sw-pagination>
</div>
