<div class="overflow-scroll text-sm relative" swScrollBottom (bottom)="more()">
  <div class="row border-y border-gray-300 bg-gray-200 text-center font-bold w-fit sticky top-0 z-30">
    <div class="py-1 px-2 border-r border-gray-300">#</div>
    <div class="py-1 px-2 border-r border-gray-300 md:sticky md:left-0 z-20 bg-inherit">프로젝트명</div>
    <div class="py-1 px-2 border-r border-gray-300">소속학교</div>
    <div class="py-1 px-2 border-r border-gray-300">소속학과(부)</div>
    <div class="py-1 px-2 border-r border-gray-300">학번</div>
    <div class="py-1 px-2 border-r border-gray-300">이름</div>
    <div class="py-1 px-2 border-r border-gray-300">수행연도</div>
    <div class="py-1 px-2 border-r border-gray-300">수행학년</div>
    <div class="py-1 px-2 border-r border-gray-300">수행학기</div>
    <div class="py-1 px-2 border-r border-gray-300">유형</div>
    <div class="py-1 px-2 border-r border-gray-300">교과목/자체프로젝트</div>
    <div class="py-1 px-2 border-r border-gray-300">담당교수</div>
    <div class="py-1 px-2 border-r border-gray-300">등록일</div>
    <div class="py-1 px-2 border-r border-gray-300">파일수</div>
    <div class="py-1 px-2 border-r border-gray-300">코드수</div>
    <div class="py-1 px-2 border-r border-gray-300">주석수</div>
    <div class="py-1 px-2 border-r border-gray-300">사용언어</div>
    <div class="py-1 px-2 border-r border-gray-300">파일수(전체)</div>
    <div class="py-1 px-2 border-r border-gray-300">코드수(전체)</div>
    <div class="py-1 px-2 border-r border-gray-300">주석수(전체)</div>
    <div class="py-1 px-2 border-r border-gray-300">사용언어(전체)</div>
    <div class="py-1 px-2">요약(언어: 파일수/코드라인수/주석수)</div>
  </div>
  <div class="list-wrapper">
    <div *ngIf="!(service.pending$ | async) && service.total === 0" class="py-1 px-2 text-gray-500 col-span-[20]">
      검색 결과가 없습니다.
    </div>
    <div *ngFor="let document of service.documents$ | async; index as i" class="row border-b border-gray-300 w-fit hover:bg-gray-100 even:bg-gray-50 odd:bg-white">
      <div class="py-1 px-2 text-right border-r border-gray-300">{{i + 1 | number}}</div>
      <div class="py-1 px-2 max-w-[300px] break-all border-r border-gray-300 md:sticky md:left-0 z-10 bg-inherit">
        <a [swRedirectRouterLink]="['/projects', document[0]]" class="underline underline-offset-4 cursor-pointer">{{document[1]}}</a>
      </div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[2]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[3]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[4]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[5]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[6]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[7]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[8]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[9]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[10]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[11]}}</div>
      <div class="py-1 px-2 text-center break-all border-r border-gray-300">{{document[12] | date:'yyyy.MM.dd'}}</div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[13] | number}}</div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[14] | number}}</div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[15] | number}}</div>
      <div class="py-1 px-2 border-r border-gray-300" [innerHTML]="document[16] | nl2br"></div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[17] | number}}</div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[18] | number}}</div>
      <div class="py-1 px-2 text-right break-all border-r border-gray-300">{{document[19] | number}}</div>
      <div class="py-1 px-2 border-r border-gray-300" [innerHTML]="document[20] | nl2br"></div>
      <div class="py-1 px-2" [innerHTML]="document[21] | nl2br"></div>
    </div>
    <sw-pending *ngIf="service.pending$ | async"></sw-pending>
  </div>
</div>
<!--<pre>{{service.documents$ | async | json}}</pre>-->
