:host {
  @apply block w-full;
}

.row {
  @apply mx-auto;
  display: grid;
  grid-template-columns: 100px 300px 140px 140px 140px 120px 120px 120px 120px 120px 160px 120px 120px 120px 120px 120px 200px 120px 120px 120px 200px 300px;
}

.list-wrapper {
  max-height: calc(100vh - 406px);
  &.expand {
    max-height: calc(100vh - 118px);
  }
}
