<div class="contents-container mt-4">
  <div class="label">創-UP 프로그램 운영</div>
  <div class="content">- 창업교과목 및 특강 운영</div>
  <div class="content">- 창업 교육 및 창업 지원</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">창업 교육 및 창업 지원</div>
  <div class="content">- 창업주제 평가 및 지원(E-Help Desk 운영)</div>
  <div class="content">- 창업 교육을 위한 정규교과</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">창업 액셀러레이션</div>
  <div class="content">- 창업 활동에 대한 아이디어 멘토링 등 밀착형 창업 인큐베이팅</div>
  <div class="content">-  창업마일리지 장학금 지원(사업자등록자에 한함)</div>
</div>
