<div class="flex justify-between items-center px-4 py-2 w-full">
  <div class="flex gap-4 items-center">
    <button type="button" (click)="collapsed = !collapsed">
      <svg *ngIf="collapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
      </svg>
      <svg *ngIf="!collapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"/>
      </svg>
    </button>
    <span [class.opacity-0]="!collapsed"
          class="text-gray-500 text-xs hidden lg:block duration-300">
      원하시는 결과가 없는 경우 + 버튼을 눌러 검색 설정을 다시 해보세요.
    </span>
  </div>
  <sw-button type="button" (click)="search()">검색</sw-button>
</div>
<div class="overflow-y-scroll tool-wrapper duration-300" [class.collapse]="collapsed">
  <div class="flex flex-col gap-4 p-4">
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">생성일</label>
      <sw-select [options]="createdOptions" [ngModel]="createdOption" (ngModelChange)="changeCreatedOption($event)" class="flex-shrink-0 basis-[120px]"></sw-select>
      <div *ngIf="createdOption" class="flex gap-4">
        <sw-input type="date" [(ngModel)]="createdStart"></sw-input>
        ~
        <sw-input type="date" [(ngModel)]="createdEnd"></sw-input>
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">수행 학년</label>
      <sw-select [options]="gradeOptions" [(ngModel)]="grade" class="flex-shrink-0 basis-[120px]"></sw-select>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">수행 기간</label>
      <sw-input type="number"
                placeholder="수행 연도"
                class="flex-shrink-0 basis-[140px]"
                [(ngModel)]="performedYearStart"></sw-input>
      <sw-select *ngIf="performedYearStart"
                 [options]="semesterOptions"
                 class="flex-shrink-0 basis-[120px]"
                 placeholder="학기선택"
                 [(ngModel)]="performedSemesterStart"></sw-select>
      ~
      <sw-input type="number" placeholder="수행 연도" class="flex-shrink-0 basis-[140px]"
                [(ngModel)]="performedYearEnd"></sw-input>
      <sw-select *ngIf="performedYearEnd"
                 [options]="semesterOptions"
                 class="flex-shrink-0 basis-[120px]"
                 placeholder="학기선택"
                 [(ngModel)]="performedSemesterEnd"></sw-select>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">작성자</label>
      <sw-select [options]="creatorOptions"
                 [ngModel]="creatorOption"
                 (ngModelChange)="changeCreatorOption($event)"
                 class="flex-shrink-0 basis-[100px]">
      </sw-select>
      <sw-input *ngIf="creatorOption === '이름'" type="text" placeholder="예) 홍길동"
                class="flex-shrink-0 basis-[160px]" [(ngModel)]="creatorName"></sw-input>
      <sw-input *ngIf="creatorOption === '학번'" type="text" placeholder="예) 20230000000"
                class="flex-shrink-0 basis-[160px]" [(ngModel)]="creatorNo"></sw-input>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">소속 학교</label>
      <sw-select [options]="schoolOptions" class="flex-shrink-0 basis-[160px]" [(ngModel)]="school"></sw-select>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">소속 학과</label>
      <div class="flex gap-4 flex-shrink-0">
        <label *ngFor="let option of departmentOptions" class="select-none cursor-pointer">
          <input type="checkbox"
                 [value]="option.value"
                 (change)="toggleDepartments($event)"
                 [checked]="departments.includes(option.value)"/> {{option.viewValue || option.value}}
        </label>
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">유형</label>
      <sw-select [options]="projectTypeOptions" class="w-[160px]" [ngModel]="projectType"
                 (ngModelChange)="changeProjectType($event)"></sw-select>
      <sw-input *ngIf="projectType === '교과목프로젝트'" type="text" placeholder="예) 교과목명"
                class="flex-shrink-0 basis-[160px]" [(ngModel)]="subjectName"></sw-input>
      <sw-select *ngIf="projectType === '자체프로젝트'" [options]="ownProjectOptions"
                 class="flex-shrink-0 basis-[140px]" [(ngModel)]="ownProjectType"></sw-select>
    </div>
    <div class="flex gap-2 items-center">
      <label class="flex-shrink-0 basis-[70px]">담당 교수</label>
      <sw-input type="text" placeholder="예) 강재구" class="flex-shrink-0 basis-[160px]" [(ngModel)]="professor"></sw-input>
    </div>
  </div>
</div>
