@import "gmixin";
@import "body";

.title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.subject-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.empty {
  padding: 1.5rem 2rem;
  background-color: #efefef;
  font-size: 0.9rem;
  color: #616672;
  border-radius: 1rem;
}
