<div class="contents-container mt-4">
  <div class="label">1인 1가디언 제도 운영</div>
  <div class="content">- 전주기적 현장 전문가의 학생 멘토링</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">1인 1가디언 제도</div>
  <div class="content">- 현장전문가의 취업커리어 계획 및 학업계획 지원</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">모든 학생에게 가디언(국내외 IT전문가 및 CEO) 매칭</div>
  <div class="content">- 1학년 2학기부터 배정하여 진로 및 취업 가이드</div>
  <div class="content">- 3학년 2학기는 산학프로젝트 멘토가 가디언 역할</div>
</div>
