<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="mb-2 mb-md-3">
    <label class="input-label" for="title">제목</label>
    <div class="input-group">
      <input type="text" id="title" class="form-control no-outline" [class.is-invalid]="invalid('title')"
             placeholder="제목 입력" formControlName="title" autocomplete="off">
      <div class="invalid-feedback">
        <span *ngIf="hasError('required', 'title')">제목을 입력해주세요.</span>
      </div>
    </div>
  </div>

  <div class="mb-2 mb-md-3">
    <label class="input-label">신고 내용</label>
    <div class="input-group">
      <textarea class="form-control no-outline" id="content" rows="10" formControlName="content" placeholder="질문 내용 입력"
                [class.is-invalid]="invalid('content')"></textarea>
      <div class="invalid-feedback">
        <span *ngIf="hasError('required', 'content')">신고 내용을 입력해주세요.</span>
      </div>
    </div>
  </div>

  <div class="btn-container d-flex justify-content-end align-items-center">
    <button type="button"
            class="btn btn-sm btn-secondary py-2 px-3 me-2 no-outline"
            [routerLink]="[CLEAN_URL, 'list']">취소</button>
    <button type="submit"
            class="btn btn-sm btn-primary py-2 px-3 no-outline">등록</button>
  </div>
</form>
