<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="form-group mb-4">
    <label for="password" class="w-100 mb-2 required">비밀번호</label>
    <input type="password"
           id="password"
           class="form-control no-outline"
           placeholder="초기화할 비밀번호 입력"
           autocomplete="off"
           [class.is-invalid]="invalid('password')"
           formControlName="password"/>
    <div class="invalid-feedback">
      <span *ngIf="hasError('required', 'password')">비밀번호는 필수 입력 항목입니다.</span>
      <span *ngIf="hasError('pattern', 'password')">
        비밀번호는 영문/숫자/공백문자를 제외한 특수문자 조합이어야 합니다.
      </span>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="confirm-password" class="w-100 mb-2 required">비밀번호 확인</label>
    <input type="password"
           id="confirm-password"
           class="form-control no-outline"
           placeholder="비밀번호 한 번 더 입력"
           [class.is-invalid]="hasError('confirmPassword')"
           formControlName="confirmPassword"/>
    <div class="invalid-feedback">
      <span *ngIf="hasError('requiredConfirmPassword')">비밀번호를 한 번 더 입력해 주세요.</span>
      <span *ngIf="hasError('confirmPassword')">비밀번호가 일치하지 않습니다.</span>
    </div>
  </div>

  <button class="btn btn-sw d-block w-100">비밀번호 초기화</button>
</form>
