<sw-search-input [(ngModel)]="keyword"></sw-search-input>
<div class="border border-secondary-200">
  <div class="grid-container bg-secondary-50 border-b border-secondary-200">
    <h4 class="font-bold p-2 border-r border-secondary-200">언어</h4>
    <h4 class="font-bold p-2 hidden md:block">파일수</h4>
  </div>
  <div class="overflow-y-scroll" style="max-height: 300px;">
    <div *ngFor="let item of languageService.projectLanguages$ | async | regexFilter:keyword"
         class="grid-container border-b border-secondary-200 last:border-b-0 cursor-pointer hover:bg-primary-50"
         (click)="languageSelect.emit(item)">
      <div class="p-2 border-r border-secondary-200">{{item.language}}</div>
      <div class="p-2 text-right hidden md:block">{{item.count | siPrefix}}</div>
    </div>
    <div *ngIf="(languageService.projectLanguages | regexFilter: keyword).length === 0"
         class="p-2 text-secondary-500">결과가 없습니다.</div>
  </div>
</div>
<p class="text-info-500">* 언어를 클릭하여 통계에 추가</p>
