<h2 class="page-title">STEP-Up 관리</h2>

<section class="contents-container mat-elevation-z1">
  <h3>콘텐츠</h3>
  <sw-step-up-content-list (openForm)="openForm($event)"></sw-step-up-content-list>
</section>

<section class="container">
  <div class="wrapper mat-elevation-z1 bg-white">
    <h3 class="mb-4">레벨</h3>
    <div>
      <sw-step-up-level-management></sw-step-up-level-management>
    </div>
  </div>
  <div class="wrapper flex-grow mat-elevation-z1 w-full">
    <span *ngIf="!levelService.selected; else subjectRef">레벨을 선택해주세요.</span>
    <ng-template #subjectRef>
      <h3>{{levelService.selected.name}} 주제</h3>
      <sw-step-up-subject-management></sw-step-up-subject-management>
    </ng-template>
  </div>
</section>

<div *ngIf="showForm" class="backgrop"></div>
<section *ngIf="showForm" class="form-wrapper mat-elevation-z2">
  <sw-step-up-content-form (closeForm)="closeForm()"></sw-step-up-content-form>
</section>
