<a [routerLink]="BASE_URL" class="back-button">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
  </svg>
</a>
<div class="subjects">{{subjects}}</div>
<header class="content-header">
  <h3 class="content-title">{{content?.title}}</h3>
  <span class="content-info">조회수:{{content?.hits}}</span>
</header>
<div class="my-4" [swInnerHtml]="content?.problem"></div>

<div class="solution-toolbar">
  <button type="button" class="show-solution-btn" (click)="showSolution = true">코드사례보기</button>
</div>

<ng-container *ngIf="showSolution">
  <div class="backdrop"></div>
  <div class="solution-container shadow">
    <header class="solution-header">
      <div class="subjects">{{subjects}}</div>
      <h3 class="content-title">{{content?.title}}</h3>
    </header>
    <div class="solution" [swInnerHtml]="content?.solution"></div>
    <div class="solution-toolbar">
      <button type="button" (click)="showSolution = false">닫기</button>
    </div>
  </div>
</ng-container>
