<sw-responsive-container class="block space-y-4">
  <sw-project-filter></sw-project-filter>
  <div [class.fixed]="expand"
       [class.inset-0]="expand"
       class="bg-white border border-gray-300">
    <div class="flex justify-between px-4 py-2 items-center">
      <div class="flex gap-2 items-center">
        <button type="button" (click)="expand = !expand" class="focus:outline-none">
          <svg *ngIf="expand" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" />
          </svg>

          <svg *ngIf="!expand" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
          </svg>
        </button>
        <span>총 {{service.total | number}} 결과</span>
      </div>
      <sw-button type="button"
                 [color]="2"
                 [disabled]="pending"
                 (click)="download()">{{pending ? '파일 생성중...' : '엑셀 다운로드'}}</sw-button>
    </div>
    <sw-project-list class="mx-auto" [expand]="expand"></sw-project-list>
  </div>
</sw-responsive-container>
