<div class="flex flex-col" *ngIf="isDirectory; else fileRef">
  <div class="flex gap-2 items-center">
    <input *ngIf="selectable"
           type="checkbox"
           class="accent-primary-500 indeterminate:bg-primary-500 indeterminate:text-white indeterminate:border-primary-500"
           [checked]="isChecked()"
           [indeterminate]="isIndeterminate()"
           (click)="selectDirectory()"/>
    <button type="button" class="flex gap-2" (click)="directory.opened = !directory.opened">
      <svg *ngIf="!directory.opened" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"/>
      </svg>
      <svg *ngIf="directory.opened" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path d="M19.906 9c.382 0 .749.057 1.094.162V9a3 3 0 00-3-3h-3.879a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H6a3 3 0 00-3 3v3.162A3.756 3.756 0 014.094 9h15.812zM4.094 10.5a2.25 2.25 0 00-2.227 2.568l.857 6A2.25 2.25 0 004.951 21H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-2.227-2.568H4.094z" />
      </svg>
      <span>{{directory.dirname}}</span>
    </button>
  </div>
  <div class="space-y-2" *ngIf="directory.opened">
    <sw-source-tree-item *ngFor="let item of directory.entries"
                         class="ml-6"
                         [item]="item" [selectable]="selectable"></sw-source-tree-item>
  </div>
</div>
<ng-template #fileRef>
  <div class="flex gap-2 items-center">
    <ng-container *ngIf="isNativeFile; else projectFileRef">
      <input *ngIf="selectable"
             type="checkbox"
             class="accent-primary-500"
             (click)="toggleSelect()"
             [checked]="item.selected"/>
      <button type="button" (click)="openCodeViewer = true">
        {{nativeFile.file.name}}
      </button>
    </ng-container>
    <ng-template #projectFileRef>
      <input *ngIf="selectable"
             type="checkbox"
             class="accent-primary-500"
             (click)="toggleSelect()"
             [checked]="item.selected"/>
      <button type="button" (click)="openCodeViewer = true">
        {{projectFile.name}}
      </button>
    </ng-template>
  </div>
</ng-template>

<sw-code-viewer *ngIf="openCodeViewer"
                [pending]="pending"
                [code]="code"
                (closeChange)="openCodeViewer = false"></sw-code-viewer>
