@import "tools";

.mat-dialog-content {
  max-height: calc(90vh - 80px - 48px);
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;

  .btn {
    color: white;
    background-color: $sw-color;
  }
}
