<sw-selectable-button-control class="block mb-2"
                              [options]="options"
                              [(ngModel)]="type"></sw-selectable-button-control>

<div *ngIf="type === 'video'; else imageSelectRef" class="flex items-center">
  <input #linkRef type="url" class="flex-grow mr-2" swInput placeholder="유투브 링크 입력">
  <button type="button"
          (click)="addLink(linkRef.value)"
          class="flex-shrink-0"
          swButton swButtonSize="xs" swButtonColor="dark">
    추가
  </button>
</div>

<ng-template #imageSelectRef>
  <button type="button"
          class="block w-full"
          swButton swButtonColor="dark" swButtonSize="xs"
          swFileChooser
          (filesChange)="changeFiles($event)"
          [options]="{accept: 'image/jpeg,image/png', multiple: true}">
    이미지 파일 선택
  </button>
  <div *ngIf="total > 0" class="text-xs text-gray-400">{{count}} / {{total}}</div>
</ng-template>

<div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
  <div *ngFor="let media of value; let i = index" class="relative">
    <button type="button"
            (click)="remove(i, $event)"
            class="absolute top-0 right-0 p-2 bg-opacity-30 bg-white z-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <div class="w-full aspect-video">
      <iframe *ngIf="media.link; else imageRef" [src]="media.link | youtube" class="w-full"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      <ng-template #imageRef>
        <img [src]="media.file | staticUrl:'assets/images/no-image.jpg'"
             class="w-full h-full object-center object-cover"
             alt="banner image">
      </ng-template>
    </div>
  </div>
</div>

