<div class="grid grid-cols-1 xl:grid-cols-2 bg-white border border-gray-200">
  <img src="assets/images/github-login.jpeg" alt="github image"/>
  <div class="flex flex-col space-y-4 p-6 justify-between">
    <h1 class="text-lg font-bold">GitHub 계정 인증</h1>
    <p>GitHub에 올린 프로젝트를 등록하기 위해 GitHub 계정을 인증해야 합니다.</p>
    <span class="text-sm text-gray-700">웹 브라우저에 GitHub이 로그인되어 있는 경우 본인의 계정으로 로그인이 되어 있는지 확인해주세요.</span>
    <span class="text-sm text-gray-700">만약 본인의 계정으로 로그인이 되어 있지 않다면 로그아웃해주세요.</span>
    <button swButton swButtonSize="md" swButtonColor="green" (click)="loginGithub()">
      <i class="lab la-github-square"></i> GitHub 계정 추가
    </button>
  </div>
</div>
