<div class="card p-4 flex flex-col gap-4">
  <h2 class="section-title">프로그래밍 역량(Step-Up)</h2>
  <sw-step-ups [student]="student"></sw-step-ups>
</div>

<div class="card p-4 flex flex-col gap-4">
  <h2 class="section-title">수행 프로젝트</h2>
  <sw-projects [student]="student"></sw-projects>
</div>

<div class="card p-4 flex flex-col gap-4">
  <h2 class="section-title">사용한 프로그래밍 언어</h2>
  <sw-languages [student]="student"></sw-languages>
</div>

<div class="card p-4 flex flex-col gap-4">
  <h2 class="section-title">TOPCIT</h2>
  <sw-topcits [student]="student"></sw-topcits>
</div>
