<div class="mb-5">
  <p>코로나 팬데믹은 일의 방식뿐만 아니라 경제·사회·문화적 환경의 큰 변화를 가져왔습니다. 장기간에 거쳐 발생할 변화가 압축되어 발생하면서 충격과 고통을 주기도 했지만, 일상과 산업에 새로운 체계와 방식이 도입되면서 새로운 기회를 제공하고 있습니다. 이러한 변화에 소프트웨어(SW), 특히 인공지능(AI) 기술이 매우 큰 영향을 미치고 있습니다. 따라서 소프트웨어와 인공지능 분야의 전문 인력에 대한 수요가 증가했을 뿐만 아니라 일반인들의 이에 대한 이해가 필수적이 되어가고 있습니다.</p>

  <p>이러한 시대적·국가적 요구에 부응하고자 충북대학교 SW중심대학사업단은 ‘SW 파워플랜트’를 기치로 하여 ‘도전적이며 커뮤니티에 기여하는 핵심직무역량을 갖춘 지능 SW 인재양성’을 목표로 학생들의 성장과 발전을 지원하기 위한 다양한 노력을 하고 있습니다.</p>

  <p>SW 및 AI 분야의 전문인재 양성을 위해 지능형 SW, 산업 AI, 빅데이터, 지능형 IoT, 임베디드 SW, 지능로봇 SW 등의 심화트랙을 운영하고 있습니다. 차별화된 SW교육을 위해 7-Up SW 교육혁신모델, 산학멘토·가디언 기반의 산학협력 및 창업교육, 오픈소스SW 특화프로그램 등을 지원하고 있습니다.</p>

  <p>재학생 전체에 대한 기초SW교육 뿐만 아니라 빅데이터, 보안컨설팅, 스마트자동차공학, 뇌인지공학, 공공데이터사이언스, 스마트 팩토리, 스마트 전력IT, 스마트 디자인, 스마트 도시 등의 융합과정을 지원하여 SW융합 인재 양성에 기여하고 있습니다.</p>

  <p>또한 충청북도의 초·중·고등학생 및 대학생, 청소년, 일반인, 재직자 등을 대상으로 SW 리터러시 강화를 위한 다양한 프로그램을 온·오프라인으로 제공하고 있습니다. 충청북도의 거점대학으로서 지역의 지능SW 역량 강화를 위해 산업체와 공동연구 및 기술지원 체계 구축으로 산업 경쟁력 제고에 최선을 다해 노력하고 있습니다.</p>

  <p>꾸준한 노력과 변화로 미래를 위한 인재양성과 충북 지역의 SW리터러시 향상에 기여하는 충북대학교 SW중심대학 사업단이 되겠습니다. 감사합니다.</p>
</div>

<h3 class="text-end">충북대학교 SW중심대학사업단장</h3>
<h5 class="text-end">교수 이건명</h5>
