<div class="contents-container mt-4">
  <div class="label">[교과]산학프로젝트</div>
  <div class="content">- 3학년 2학기부터 수업제공, 교수제공, 학생제시 주제로 팀 프로젝트 수행</div>
  <div class="content">- 산업계에서 요구하는 전공역량 강화를 위해 산업계 전문가 멘토 매칭 및 멘토링 지원</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">[비교과]산학협력공동프로젝트</div>
  <div class="content">- 교수, 기업, 대학원생, 학부생이 현장 소요 기술 연구 개발</div>
  <div class="content">- 참여 기업에 현장실습(인턴십) 및 취업 연계 기회</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">[비교과]국제공동산학프로젝트</div>
  <div class="content">- 교수, 해외멘토, 학부생이 함꼐 수행하는 프로젝트</div>
  <div class="content">- 해외 멘토의 멘토링과 특강을 통한 해외 트랜드 이해</div>
  <div class="content">- 외국어 역량 강화, 해외 취창업 동기 부여</div>
</div>

<div class="grid-container mt-4">
  <div style="border: 1px solid #eee">
    <h2 class="text-center m-0 p-4 mx-2" style="background-color: #eee; border-radius: 0 0 2rem 2rem;">산학프로젝트(교과 과정) 지원</h2>
    <div class="mt-2 p-4">
      <p class="m-0">- 산학프로젝트 아이디어 발굴</p>
      <p class="m-0">- 프로젝트 멘토링 지원</p>
      <p class="m-0">- 멘토링을 위한 멘토 풀 운영</p>
    </div>
  </div>
  <div style="border: 1px solid #eee">
    <h2 class="text-center m-0 p-4 mx-2" style="background-color: #eee; border-radius: 0 0 2rem 2rem;">산학공동프로젝트(비교과 과정) 운영</h2>
    <div class="mt-2 p-4">
      <p class="m-0">- 프로젝트 주제 및 참여 기업 발굴</p>
      <p class="m-0">- 참여 연구원 및 학생 지원</p>
      <p class="m-0">- 프로젝트 수행 지원</p>
    </div>
  </div>
  <div style="border: 1px solid #eee">
    <h2 class="text-center m-0 p-4 mx-2" style="background-color: #eee; border-radius: 0 0 2rem 2rem;">국제공동산학프로젝트(기교과 과정) 운영</h2>
    <div class="mt-2 p-4">
      <p class="m-0">- 프로젝트 주제 및 해외 참여 기업 발굴</p>
      <p class="m-0">- 참여 학생 지원</p>
      <p class="m-0">- 프로젝트 수행 국내외 활동 지원</p>
    </div>
  </div>
</div>
