@import "gmixin";
@import "variables";

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-container {
  display: flex;
}

button {
  margin-right: 1rem;
}

.brand {
  display: flex;
  align-items: center;

  .brand-image {
    margin-right: 1rem;
    height: 20px;
  }

  .brand-name {
    margin-right: 2rem;
  }
}

nav {
  display: flex;
  margin-right: auto;
}

.link {
  font-size: 0.875em;
  align-self: flex-end;
  margin-right: 1rem;

  @include mobile {
    font-size: 0.8em;
  }
}

.account {
  margin: 0 0.5em;
  font-size: 0.6em;

  @include mobile {
    font-size: 0.8em;
  }
}
