<mat-toolbar class="mat-elevation-z4">
  <div class="main-container">
    <a class="brand"
       routerLink="/dashboard">
      <img class="brand-image" src="assets/images/logo.png"/>
      <span class="brand-name" *ngIf="layout.desktop$ | async">코드이력관리 시스템</span>
    </a>
    <nav>
      <a class="link" routerLink="/project/list">
        {{(auth.isOperator$ | async) ? '프로젝트관리' : '전체프로젝트'}}
      </a>
      <a class="link" routerLink="/project/me" *ngIf="auth.isStudent$ | async">
        내 프로젝트
      </a>
    </nav>
    <span class="account"
          *ngIf="auth.loggedIn && (layout.desktop$ | async)">
      {{ auth.me?.info.name }}님 로그인 중
    </span>
    <a class="account cursor pointer"
       (click)="auth.logout()"
       *ngIf="auth.loggedIn">
      <i class="las la-sign-out-alt"></i><span *ngIf="layout.desktop$ | async"> 로그아웃</span>
    </a>

    <a class="account cursor pointer"
       (click)="moveLoginPage()"
       *ngIf="!auth.loggedIn">
      <i class="las la-sign-in-alt"></i><span *ngIf="layout.desktop$ | async"> 로그인</span>
    </a>
  </div>
</mat-toolbar>
