<div class="row">
  <div class="col-12 col-lg-6">
    <div class="contents-container mt-4">
      <div class="label">인턴십 지원</div>
      <div class="content">- 국내 및 해외 인턴십 발굴 및 지원</div>
    </div>
    <div class="contents-container pt-4 mt-4">
      <div class="label">국내 인턴십</div>
      <div class="content">- 계절제(하계, 동계 방학 중 4주 이상), 학기제(15주 이상)</div>
      <div class="content">- 일비 및 숙박비 일부 지원</div>
    </div>
    <div class="contents-container pt-4 mt-4">
      <div class="label">해외 인턴십</div>
      <div class="content">- 미국, 일본, 동남아, 중동 등 해외 인턴십 운영</div>
      <div class="content">- 해외 인턴십과 현지 창업 연계 유도</div>
      <div class="content">- 체류비용 일부 지원</div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="contents-container mt-4">
      <div class="label">인턴십 수기집</div>
      <a href="http://data.itoast.kr/ebooks/chungbuk/index.html" target="_blank">
        <img class="e-book" src="assets/images/cooperate/internship-ebook.jpg" alt="internship e-book">
      </a>
    </div>
  </div>
</div>
