<div class="row">
  <div class="col-12 col-lg-6">
    <div class="contents-container mt-4">
      <div class="label">현장실습(인턴십) 지원</div>
      <div class="content">- 국내 및 해외 현장실습(인턴십) 참여기업 발굴, 참여학생 지원</div>
    </div>
    <div class="contents-container pt-4 mt-4">
      <div class="label">국내 인턴십</div>
      <div class="content">- 계절제(하계, 동계 방학 중 4주 이상), 학기제(15주 이상)</div>
      <div class="content">- 산학활동참여 마일리지 부여</div>
      <div class="content">- 숙박비 일부지원</div>
    </div>
    <div class="contents-container pt-4 mt-4">
      <div class="label">해외 인턴십</div>
      <div class="content">- 미국, 캐나다, 일본, 동남아, 중동 등 해외 현장실습(인턴십) 운영</div>
      <div class="content">- 해외 현장실습(인턴십)과 현지 창업 연계 유도</div>
      <div class="content">- 체류비용 일부 지원</div>
    </div>
    <div class="contents-container pt-4 mt-4">
      <div class="label">일경험 수련 과정</div>
      <div class="content">- 비교과 단기 현장 체험 프로그램</div>
      <div class="content">- 산학활동참여 마일리지 부여</div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="contents-container mt-4">
      <div class="label">2023 인턴십 수기집</div>
      <a [routerLink]="INTERNSHIP_E_BOOK_URL" [queryParams]="{url: 'assets/pdfs/internships/2023_book.pdf'}">
        <img class="e-book" src="assets/images/cooperate/internships/2023_cover.png" alt="internship e-book">
      </a>
    </div>
    <div class="contents-container mt-4">
      <div class="label">2022 인턴십 수기집</div>
      <a [routerLink]="INTERNSHIP_E_BOOK_URL" [queryParams]="{url: 'assets/pdfs/internships/2022_book.pdf'}">
        <img class="e-book" src="assets/images/cooperate/internships/2022_cover.png" alt="internship e-book">
      </a>
    </div>
    <div class="contents-container mt-4">
      <div class="label">2021 인턴십 수기집</div>
      <a [routerLink]="INTERNSHIP_E_BOOK_URL" [queryParams]="{url: 'assets/pdfs/internships/2021_book.pdf'}">
        <img class="e-book" src="assets/images/cooperate/internships/2021_cover.png" alt="internship e-book">
      </a>
    </div>
    <div class="contents-container mt-4">
      <div class="label">2020 인턴십 수기집</div>
      <a [routerLink]="INTERNSHIP_E_BOOK_URL" [queryParams]="{url: 'assets/pdfs/internships/2020_book.pdf'}">
        <img class="e-book" src="assets/images/cooperate/internships/2020_cover.png" alt="internship e-book">
      </a>
    </div>
  </div>
</div>
