<div class="relative overflow-scroll scrollbar-none border-y border-gray-300 text-sm mx-auto" swScrollBottom
     (bottom)="service.more()">
  <div [style.grid-template-columns]="template"
       class="grid border-b border-gray-300 bg-gray-200 text-center font-bold w-fit sticky top-0 z-30">
    <h4 class="py-1 px-2">#</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">연도</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">회차</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">학과(부)</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">학년</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">학번</h4>
    <h4 class="py-1 px-2 border-x border-gray-300 md:sticky md:left-0 z-10 bg-inherit">이름</h4>
    <h4 class="py-1 px-2">수준</h4>
    <h4 class="py-1 px-2 border-l border-gray-300">총점</h4>
    <h4 *ngFor="let name of service.subjectNames$ | async" class="py-1 px-2 border-l border-gray-300 truncate">{{name}}</h4>
    <h4 class="py-1 px-2 border-l border-gray-300 sticky right-0 z-10 bg-inherit">삭제</h4>
  </div>
  <div class="list-wrapper">
    <div *ngIf="!(service.pending$ | async) && service.total === 0" class="py-1 px-2 text-gray-500 text-center">
      검색 결과가 없습니다.
    </div>
    <div *ngFor="let document of service.documents$ | async; index as i"
         [style.grid-template-columns]="template"
         class="grid border-b last:border-0 border-gray-300 w-fit hover:bg-gray-100 even:bg-gray-50 odd:bg-white">
      <div class="py-1 px-2 text-right truncate">{{i + 1 | number}}</div>
      <div class="py-1 px-2 text-center border-l border-gray-300 truncate">{{document.year}}년</div>
      <div class="py-1 px-2 text-center border-l border-gray-300 truncate">{{document.no}}회</div>
      <div class="py-1 px-2 text-center border-l border-gray-300 truncate">{{document.student.department}}</div>
      <div class="py-1 px-2 text-center border-l border-gray-300 truncate">{{document.student.grade}}</div>
      <div class="py-1 px-2 text-center border-l border-gray-300 truncate">{{document.student.no}}</div>
      <div class="py-1 px-2 text-center border-x border-gray-300 truncate md:sticky md:left-0 z-10 bg-inherit">
        {{document.student.name}}
      </div>
      <div class="py-1 px-2 text-center truncate">{{document.level}}</div>
      <div class="py-1 px-2 text-right truncate border-l border-gray-300">{{document.totalScore}}</div>
      <div *ngFor="let name of service.subjectNames$ | async" class="py-1 px-2 text-right border-l border-gray-300 truncate">
        {{document.subjects[name]}}
      </div>
      <div class="py-1 px-2 text-center border-l border-gray-300 sticky right-0 bg-inherit">
        <button type="button"
                class="py-1 px-2 text-rose-500 hover:bg-rose-500 hover:text-white"
                [disabled]="pending"
                (click)="remove(document)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
