<h2 class="page-title">운영자 정보</h2>

<div class="container mat-elevation-z1">
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="responsive-row w-100 v-start h-start mb">
    <div class="user-image mat-elevation-z1"
         [class.me]="layout.desktop$ | async"
         [class.mb]="layout.mobile$ | async"
         [class.m-auto]="layout.mobile$ | async"
         swBackgroundSize="cover"
         swBackgroundPosition="center"
         [swBackgroundImage]="operator?.image || 'assets/images/empty-user-image.jpg'"></div>
    <div class="pad w-100">
      <div class="item">
        <span class="label">교번</span>
        <span class="content">{{operator?.no}}</span>
      </div>
      <div class="item">
        <span class="label">이름</span>
        <span class="content">{{operator?.name}}</span>
      </div>
      <div class="item">
        <span class="label">소속</span>
        <span class="content">{{operator?.department}}</span>
      </div>
      <div class="item">
        <span class="label">센터</span>
        <span class="content">{{operator?.center || '-'}}</span>
      </div>
      <div class="item">
        <span class="label">직책</span>
        <span class="content">{{operator?.position}}</span>
      </div>
      <div class="item">
        <span class="label">이메일</span>
        <span class="content"><a href="mailto:{{operator?.email}}">{{operator?.email}}</a></span>
      </div>
      <div class="item">
        <span class="label">연락처</span>
        <span class="content"><a href="tel:{{operator?.phone}}">{{operator?.phone}}</a></span>
      </div>
      <div class="item mb">
        <span class="label">가입일</span>
        <span class="content">{{operator?.joinedAt | date: 'yyyy.MM.dd.'}}</span>
      </div>
      <div class="item mb" *ngIf="operator?.user">
        <span class="label">권한부여</span>
        <div class="form-check content">
          <input class="form-check-input"
                 type="checkbox"
                 id="judge"
                 [checked]="hasPermission('judge')"
                 (click)="togglePermission('judge')">
          <label class="form-check-label" for="judge">
            온라인 저지
          </label>
        </div>

        <div class="form-check content">
          <input class="form-check-input"
                 type="checkbox"
                 id="professor"
                 [checked]="hasPermission('professor')"
                 (click)="togglePermission('professor')">
          <label class="form-check-label" for="professor">
            교수 권한
          </label>
        </div>
      </div>
      <div class="item">
        <button type="button"
                class="me"
                mat-raised-button
                color="primary"
                (click)="removeOperatorRole()">
          운영자 권한 삭제
        </button>
        <button type="button"
                mat-raised-button
                color="warn"
                (click)="remove()"
                *ngIf="operator?.user; else deletedUserTemplate">계정삭제
        </button>
        <ng-template #deletedUserTemplate>
          <button type="button"
                  mat-raised-button
                  (click)="restore()">계정복구
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <a mat-raised-button color="primary" routerLink="/operator/list">
      <i class="las la-th-list"></i><span class="ms">목 록</span>
    </a>
  </div>
</div>
