@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "variables";
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($code-theme);

/* You can add global styles to this file, and also import other style files */

@import "global";

.error {
  color: mat-color($code-warn);
}

a {
  color: $default-color;
  text-decoration: none;
}

.main-container {
  width: $desktop-width;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.small {
  font-size: 0.875em;
}

.text-white {
  color: white;
}

.text-default {
  color: $default-color;
}

.text-primary {
  color: mat-color($code-primary);
}

.text-accent {
  color: mat-color($code-accent);
}

.text-warn {
  color: mat-color($code-warn);
}

.table-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  background-color: white;

  @include mobile {
    padding: 0.5rem;
  }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

table {
  width: 100%;
  //border-top: $table-border;
  //border-left: $table-border;
  //border-right: $table-border;
  border: $table-border;
}

tbody {
  tr.pointer:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }

  tr.empty-row {
    color: rgba(0, 0, 0, 0.54);
  }
}

th, td {
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 1rem !important;
}

.actions {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;

  @include mobile {
    padding: 0.5rem;
    flex-direction: column;
  }

  mat-form-field {
    width: 50%;
    margin-bottom: 1rem;
    @include mobile {
      width: 100%;
    }
  }
}

.fixed {
  position: fixed !important;
}

.absolute {
  position: absolute !important;
}

.absolute-ts {
  top: -1rem;
  left: 1rem;
  z-index: 10;
}

.absolute-te {
  top: -1rem;
  right: 1rem;
}

.absolute-bs {
  bottom: -1rem;
  left: 1rem;
}

.absolute-be {
  bottom: -1rem;
  right: 1rem;
}

.pos-ts {
  top: $header-height + 16px;
  left: 1rem;
  z-index: 10;
}

.pos-te {
  top: $header-height + 16px;
  right: 1rem;
}

.pos-bs {
  bottom: 1rem;
  left: 1rem;
}

.pos-be {
  bottom: 1rem;
  right: 1rem;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ms-auto {
  margin-left: auto !important;
}

.me-auto {
  margin-right: auto !important;
}

.ps {
  padding-left: 1rem;
}

.pe {
  padding-right: 1rem;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt {
  padding-top: 1rem;
}

.pb {
  padding-bottom: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
