<img class="py-5" src="assets/images/organization/objective.png"/>

<dl class="row">
  <dt class="col-12 col-lg-2">
    <h5 class="title mb-2 mb-lg-0">사업목표</h5>
  </dt>
  <dd class="col-12 col-lg-10">
    <p class="description">도전적이며 커뮤니티에 기여하는 핵심 직무역량을 갖춘 SW 인재 양성</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-12 col-lg-2">
    <h5 class="title mb-2 mb-lg-0">사업기간</h5>
  </dt>
  <dd class="col-12 col-lg-10">
    <p class="description">1단계 (2019.03 ~ 2022.12, 3년 10개월)</p>
    <p class="description">2단계 (평가 후 진입, 2023.01 ~ 2024.12, 2년)</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-12 col-lg-2">
    <h5 class="title mb-2 mb-lg-0">1단계 사업비</h5>
  </dt>
  <dd class="col-12 col-lg-10">
    <p class="description">약 87억</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-12 col-lg-2">
    <h5 class="title mb-2 mb-lg-0">참여학부(과)</h5>
  </dt>
  <dd class="col-12 col-lg-10">
    <p class="description">정보통신공학부</p>
    <p class="description">컴퓨터공학과</p>
    <p class="description">소프트웨어학과</p>
    <p class="description">지능로봇공학과(2020년 신설)</p>
  </dd>
</dl>
