<div class="contents-container mt-4">
  <div class="content">마이크로디그리란, 필요에 따라 수준별 전공 지식 및 기술을 단기간에 습득할 수 있도록 구성한 특정 목적 교육과정 단위를 지칭</div>
</div>

<div class="contents-container pt-4 mt-4">
  <div class="label">인공지능 기초(Artificial Intelligence Basic) 마이크로디그리</div>
  <div class="content">1. 이수대상: 충북대학교 SW 비전공자 재학생(SW 및 컴퓨터 관련 학과(부)* 학생 제외)</div>
  <div class="content">&nbsp;&nbsp;&nbsp;&nbsp;* SW 및 컴퓨터 관련 학과(부): 소프트웨어학과(부), 컴퓨터공학과, 정보통신공학부, 지능로봇공학과</div>
  <div class="content">2. 이수 기준: 교육과정 중 9학점 이상 이수</div>
  <div class="content">3. 교육과정</div>
</div>
<div class="table-responsive mt-2">
  <table class="table table-bordered table-sm" style="font-size:0.9rem;">
    <thead>
    <tr>
      <th>과정명</th>
      <th>교과목 번호</th>
      <th>교과목명</th>
      <th>학점</th>
      <th>교과목 주관학과</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="4">인공지능기초</td>
      <td>5114002</td>
      <td>정보기술의 이해</td>
      <td>3-3-0</td>
      <td>SW융합부전공</td>
    </tr>
    <tr>
      <td>5114003</td>
      <td>파이썬 프로그래밍</td>
      <td>3-2-2</td>
      <td>SW융합부전공</td>
    </tr>
    <tr>
      <td>5114012</td>
      <td>인공지능 융합의 이해</td>
      <td>3-3-0</td>
      <td>SW융합부전공</td>
    </tr>
    <tr>
      <td>5114013</td>
      <td>기초부터 배우는 딥러닝</td>
      <td>3-2-2</td>
      <td>SW융합부전공</td>
    </tr>
    </tbody>
  </table>
  <div>
    &#8251; 자세한 교육과정은 <a href="https://www.chungbuk.ac.kr/site/f09/main.do" class="text-blue" target="_blank">충북대학교 홈페이지 종합정보시스템</a>에서 확인 가능
  </div>
</div>
<div class="contents-container pt-4">
  <div class="content">4. 이수혜택: 이수증 발급, 졸업증서 표기</div>
</div>
