<div class="title mb-2">{{easyCourse?.title}}</div>

<div class="contents-container border-top pt-5 mt-5"
     *ngFor="let description of easyCourse?.descriptions; let i = index">
  <ng-container *ngIf="description.courses?.length > 0; else emptyDescriptionTemplate">
    <div class="accordion mb-1"
         id="course-accordion-{{i}}"
         *ngFor="let course of description.courses; let i = index">
      <div class="accordion-item">
        <h2 class="accordion-header" id="course-heading-{{i}}">
          <button class="accordion-button no-outline"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#course-collapse-' + i"
                  aria-expanded="true"
                  aria-controls="course-collapse-{{i}}">
            {{course.week}} 주차
          </button>
        </h2>
        <div id="course-collapse-{{i}}"
             class="accordion-collapse collapse show"
             aria-labelledby="course-heading-{{i}}"
             data-ba-parent="#course-accordion-{{i}}">
          <div class="accordion-body p-0">
            <div class="row">
              <div class="course-content col-12 col-lg-{{12 / course.contents.length}}"
                   *ngFor="let item of course.contents">
                <div class="collapse-label" *ngIf="item.label">{{item.label}}</div>
                <div class="collapse-content p-3" [innerHTML]="item.content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyDescriptionTemplate>
    <div class="label">{{description.question}}</div>
    <div>{{description.answer}}</div>
  </ng-template>
</div>
